table > tbody > tr:hover > *{
  background-color: $gray-100;
}

table tbody tr:last-of-type td {
  border: none;
}

th,
td {
  font-size: 15px;
  font-weight: 500;
}

.table-bordered {
  border-radius: 15px;
  overflow: hidden;
}

.delete-btn{
  background-color: transparent;

  &:hover {
    background-color: $gray-200;
  }

  img {
    height: 34px;
    width: auto;
  }
}