.filter {
  max-width: 100px;
  min-width: 100px;

  @media(min-width: 576px){
    max-width: 150px;
    min-width: 150px;
  }

  input {
    opacity: 0;
    right: 0;
    width: 15px;
    height: 15px;
    padding: 0;
  }

  label:hover,
  input:focus + label,
  input:active + label,
  input:hover + label {
    background-color: $gray-200;
  }

  img {
    width: 20px;
    height: auto;
  }

  img.active {
    filter: invert(1);
  }

  .popup {
    width: 180px;
    top: 40px;
    left: -5px;
    z-index: 5;

    @media(min-width: 576px){
      top: 42px;
    }

     p,
     label {
      font-size: 14px;
     }

     p {
      border-bottom: 1px solid $gray-200;
     }
  }

  &-cancel button {
    font-size: 15px;

    img {
      height: 16px;
      width: auto;
      position: relative;
      bottom: 1px;
      padding: 0 1px;
      opacity: 0.6;
    }
  }
}

.search-icon {
  top: 12px;
  left: 27px;
  z-index: 5;
  width: auto;
  height: 18px;
  opacity: 0.5;

  & + input {
    padding-left: 35px;
  }

  @media(min-width: 576px){
    left: 38px;
    height: 22px;
    top: 10px;
  }
}