.modal {
  opacity: 0;
  z-index: -1 !important;
  max-height: 100vh;
  transition: opacity 0s ease-in-out, z-index 0s ease-out;
  background-color: rgba(64, 64, 64, 0.8);

  @media (min-width:992px){
    transition: opacity 0.5s ease-in-out, z-index 2s ease-out;
  }
}

.modal.show{
  opacity: 1;
  z-index: 10 !important;
}